$top:0;
.yiqiqianduan-siderbar {
    position: absolute;
    left: 0;
    width: 200px;
    bottom: 0;
    top: $top;
}

.yiqiqianduan-content-layout {
    position: relative;
}

.yiqiqianduan-loading {
    position: absolute;
    top: $top;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #000;
}

.yiqiqianduan-container-layout {
    position: absolute;
    top: $top;
    right: 0;
    left: 210px;
    bottom: 0;
    background-color: #efefef;
    >.yiqiqianduan-content-layout {
        height: 100%;
    }
}